.meal-type :nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.meal-type :nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.meal-type :nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.meal-type :nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.meal-type :nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.meal-type :nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.meal-type :nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.meal-type :nth-child(9) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.meal-type :nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

body {
  background-color: blue;
}

body h1 {
  font-size: 1.5rem;
}

body h2 {
  font-size: 1rem;
}

body p {
  font-size: 1rem;
}

@media only screen and (min-width: 1260px) {
  body h1 {
    font-size: 1.7rem;
  }
}

/*-----------loader----------*/
@-webkit-keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-bg {
  0% {
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 5;
  }
}

@keyframes loader-bg {
  0% {
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 5;
  }
}

/*-------favorite btn-----*/
@-webkit-keyframes favorite-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes favorite-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes favorite-inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes favorite-inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-------meal card-------*/
@-webkit-keyframes meal-card {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes meal-card {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

header {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: white;
}

header img {
  height: 100%;
  width: auto;
  margin: 20px auto 15px auto;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  header img {
    margin: 25px auto;
  }
}

@media only screen and (min-width: 768px) {
  .header--homepage {
    text-align: left;
    margin: auto auto 15px auto;
  }
  .header--homepage img {
    margin: 20px 5% 15px 5%;
  }
}

footer {
  background-color: #494949;
  padding: 25px;
}

footer h2 {
  font-size: 20px;
  margin: 0px;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

footer p {
  color: white;
  margin: 0px;
}

footer i {
  color: white;
  margin: 0px 10px 0px 0px;
  width: 17px;
}

footer a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0px;
}

@media only screen and (min-width: 1260px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.location-selector {
  width: 100%;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 2.5px 4px #d1d1d1;
          box-shadow: inset 0px 2.5px 4px #d1d1d1;
  background-color: #e8e8e8;
}

.location-selector i {
  margin: auto 20px;
  color: #575757;
  font-size: 17px;
}

@media only screen and (min-width: 768px) {
  .location-selector i {
    margin: auto 10px auto 0px;
  }
}

.location-selector input {
  background-color: #e8e8e8;
  font-weight: 600;
  color: #575757;
  border: none;
  outline: none;
  width: 40%;
  font-size: 1.1rem;
}

@media only screen and (min-width: 768px) {
  .location-selector input {
    width: 50%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .location-selector {
    padding: 10px 0px;
    width: 240px;
    position: absolute;
    right: 5%;
    top: 16px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1260px) {
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px auto 50px auto;
  }
}

#intro {
  background-color: whitesmoke;
  text-align: center;
  padding: 0px 0px 55px 0px;
}

#intro h1 {
  margin: 0px;
  padding: 40px 0px;
}

#intro__text {
  color: #575757;
  margin: 0px;
}

@media only screen and (min-width: 1260px) {
  #intro__text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  #intro {
    width: 90%;
    margin: 0px auto 10px auto;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1260px) {
  #intro {
    min-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.how-it-works {
  width: 90%;
  margin: auto;
  padding: 20px 0px 30px 0px;
}

.how-it-works h1 {
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  .how-it-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how-it-works h1 {
    margin: 20px 0px 20px 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 1260px) {
  .how-it-works {
    margin: 0px 5%;
  }
  .how-it-works h1 {
    margin: 20px;
  }
}

.how-it-works__card {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 5px 10px #dddddd;
          box-shadow: 0px 5px 10px #dddddd;
  border-radius: 15px;
  margin: 20px 0px 20px 3%;
  padding: 2px 25px 2px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.how-it-works__card h4 {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  color: #fff;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 50px;
}

.how-it-works__card i {
  width: 6px;
  color: #575757;
}

.how-it-works__card p {
  margin: 17px 0px;
  padding: 0px 30px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .how-it-works__card {
    width: 22%;
  }
}

@media only screen and (min-width: 1260px) {
  .how-it-works__card {
    width: 100%;
  }
}

.how-it-works__card--highlighted {
  background-color: #f2eafb;
}

.how-it-works__card--highlighted i {
  color: #9356DC;
}

.restaurant-section {
  background-color: whitesmoke;
  padding: 30px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant-section h1 {
  width: 90%;
  margin: 0px auto 20px auto;
}
/*# sourceMappingURL=App.css.map */